.container {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  background-color: #D7E9F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .element-container {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .element-container .animal {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #502A15;
}

.container .element-container .animal::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 50px;
  left: 48px;
  background-color: #D7E9F7;
  border-radius: 50%;
  border: 2px solid #502A15;
}

.container .element-container .animal .round-mouse {
  position: relative;
  top: 25px;
  left: 67px;
  width: 15px;
  height: 10px;
  background-color: #502A15;
  border-radius: 50%;
  z-index: 10;
}

.container .element-container .animal .round-mouse::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: -10px;
  left: 5px;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 0);
          clip-path: circle(50% at 50% 0);
  border: 2px solid #502A15;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .element-container .animal .round-mouse::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: -10px;
  right: 5px;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 0);
          clip-path: circle(50% at 50% 0);
  border: 2px solid #502A15;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .element-container .koala {
  background-color: #E6E6E6;
}

.container .element-container .koala .koala-ear {
  background-color: #E6E6E6;
  border: 2px solid #502A15;
}

.container .element-container .pig {
  background-color: #F6A9A9;
}

.container .element-container .pig .pig-ear {
  background-color: #F6A9A9;
}

.container .element-container .dog {
  background-color: #fcf7ec;
}

.container .element-container .dog .dog-ear {
  background-color: #865439;
  border: 2px solid #502A15;
  border-radius: 50%;
  width: 60px;
  height: 25px;
  top: 5px;
  left: -10px;
}

.container .element-container .dog .dog-ear-right {
  left: 100px;
  top: 6px;
}

.container .element-container .giraffe {
  background-color: #FFC947;
  z-index: 1;
}

.container .element-container .giraffe .giraffe-ear {
  background-color: #FFC947;
}

.container .element-container .giraffe .giraffe-nose {
  background-color: #FBEEAC;
}

.container .element-container .giraffe .giraffe-dot {
  background-color: #F2A154;
}

.container .element-container .bear {
  background-color: #fcf7ec;
}

.container .element-container .bear .bear-eye {
  background-color: white;
}

.container .element-container .bear .bear-eye::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 30px;
  right: -2px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 50%;
  background-color: #502A15;
}

.container .element-container .bear .bear-eye .eyeball {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 7px;
  right: 2px;
}

.container .element-container .bear .bear-eye-right {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.container .element-container .bear .bear-eye-right .eyeball-right {
  top: 5px;
  right: 5px;
}

.container .element-container .brown-bear {
  background-color: #865439;
}

.container .element-container .wolf {
  background-color: #fcf7ec;
}

.container .element-container .wolf .wolf-ear {
  background-color: #E97878;
}

.container .element-container .wolf .wolf-nose {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #502A15;
  position: absolute;
  top: 35px;
  left: 67px;
  z-index: 2;
}

.container .element-container .wolf .wolf-top {
  position: absolute;
  left: 35px;
  top: 1px;
  height: 0;
  width: 0;
  border: 40px solid transparent;
  border-top: 45px solid #E97878;
  border-radius: 35%;
}

.container .element-container .hippo {
  background-color: #A7C5EB;
}

.container .element-container .hippo .hippo-ear {
  background-color: #A7C5EB;
}

.container .element-container .hippo .hippo-nose {
  background-color: #8D93AB;
}

.container .element-container .cow {
  background-color: #fcf7ec;
}

.container .element-container .cow .cow-ear {
  background-color: #fcf7ec;
}

.container .element-container .cow .cow-ear-right {
  background-color: #6E6D6D;
}

.container .element-container .cow .cow-nose {
  background-color: #F6A9A9;
}

.container .element-container .cow .cow-dot {
  background-color: #6E6D6D;
}

.container .element-container .eye {
  width: 10px;
  height: 10px;
  background-color: #502A15;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 45px;
  z-index: 2;
}

.container .element-container .right-eye {
  left: 95px;
}

.container .element-container .round-nose {
  position: absolute;
  top: 15px;
  height: 28px;
  width: 20px;
  border-radius: 50%;
  background-color: #502A15;
  left: 65px;
}

.container .element-container .ear {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #502A15;
  border-radius: 49% 51% 100% 0% / 87% 99% 1% 13%;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.container .element-container .ear-right {
  left: 112px;
  top: 2px;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.container .element-container .rounded-nose {
  position: absolute;
  top: 20px;
  left: 61px;
  width: 28px;
  height: 15px;
  background-color: #FA8072;
  border-radius: 50%;
}

.container .element-container .rounded-nose::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #502A15;
  top: 5px;
  left: 8px;
  border-radius: 50%;
}

.container .element-container .rounded-nose::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #502A15;
  top: 5px;
  left: 15px;
  border-radius: 50%;
}

.container .element-container .long-ear::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 30px;
  background-color: #865439;
  border-radius: 35%;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  left: 8px;
  top: -22px;
  border: 2px solid #502A15;
}

.container .element-container .long-ear-right::before {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  left: 15px;
  top: 25px;
}

.container .element-container .pointy-ear {
  background-color: #F6A9A9;
  border: 2px solid #502A15;
  border-radius: 40px 20px 20px 40px/30px;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  height: 35px;
  width: 30px;
  top: -15px;
}

.container .element-container .pointy-ear-right {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  top: -19px;
}

.container .element-container .mouse-container {
  width: 40px;
  height: 22px;
  background-color: #D7B19D;
  border-radius: 50%;
  position: absolute;
  left: 55px;
  top: 22px;
  z-index: 0;
}

.container .element-container .dot {
  width: 30px;
  height: 45px;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 1px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 68% 32% 8% 92% / 54% 50% 50% 46%;
}

.container .element-container .bottom {
  top: 97px;
  left: 100px;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.container .element-container .small {
  top: 110px;
  left: 40px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.container .element-container .top {
  top: -2px;
  left: 60px;
  border-radius: 36% 64% 8% 92% / 15% 50% 50% 85%;
  height: 15px;
  width: 30px;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

.container .element-container .right {
  top: 40px;
  left: 110px;
  border-radius: 50%;
  height: 30px;
}

.container .element-container .right-middle {
  top: 65px;
  left: 115px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.container .element-container .left-top {
  top: 35px;
  left: 25px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.container .element-container .right-top {
  top: 10px;
  left: 64px;
  height: 60px;
  width: 85px;
  z-index: 0;
  -webkit-clip-path: circle(45% at 30% 0);
          clip-path: circle(45% at 30% 0);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
/*# sourceMappingURL=main.css.map */